/build-MeasurementTool-Desktop-Debug/
/build-stm32f042f6-usb_cdc/
/build-stm32f042k6-vcp/
/build-stm32f303re/
/firmware/fw-stm32f042/.idea/
/firmware/fw-stm32f042/.settings/
/firmware/fw-stm32f042/.mxproject
/firmware/fw-stm32f042/cmake-build-debug/
/firmware/fw-stm32f042/Debug/
/firmware/fw-stm32f042/Release/
/firmware/fw-stm32f303/.idea/
/firmware/fw-stm32f303/.settings/
/firmware/fw-stm32f303/.mxproject
/firmware/fw-stm32f303/cmake-build-debug/
/firmware/fw-stm32f303/Debug/
/firmware/fw-stm32f303/Release/
/gui/MeasurementTool.pro.user
